@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
    font-size: initial; /* * See media queries towards EOF to see font-size at given window widths. */
} body {
    margin: 0;
    background-color: var(--bl);
}

ul {
    list-style-type: none;
} a {
    text-decoration: none;
    color: initial
}

::selection {
    background: var(--ac);
    color: var(--bk);
} ::-moz-selection {
    background: var(--ac);
    color: var(--bk);
}

@media all and (max-width: 800px) {
    html { font-size: 6px; }
} @media all and (max-width: 1000px) {
    html { font-size: 6px; }
} @media all and (max-width: 2000px) {
    html { font-size: 10px; }
} @media all and (max-width: 2600px) {
    html { font-size: 12px; }
}